.Wb {
  background-image: url("1.png");
  background-size: cover;
  background-position: center;
  color: white;
}
.header {
  display: flex;
  gap: 280px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  margin-bottom: 108px;
}

.pla {
  display: flex;
  gap: 32px;
}

.p1:hover {
  color: #f57520;
}

.icons {
  display: flex;
  gap: 25px;
}

.Mdoutlinesigment {
  font-size: 10px;
}

.header2 {
  padding: 80px 935px 236px 320px;
}

.h11 {
  font-weight: 700;
  font-size: 96px;
  line-height: 123%;
  letter-spacing: 2%;
}

.pca {
  width: 645;
  height: 87;
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 1%;
  margin-top: 48px;
  margin-bottom: 40px;
}

.buton {
  padding: 16px 45px;
  background-color: #f57520;
  color: #ffffff;
  border-radius: 10px;
  border: #ffffff;
}
