.Props-sect {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 50px;
    background-color: gray;
    height: 1400px;
    justify-content: center;
}

.sect-p {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 50px;
    margin-left: 100px;
}

.Props-sect h2 {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    color: #101010;
}